@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>
<head>
</head>
<body>
    <ul>
        Contact Details:
    </ul>
    <label for="PhoneNumber">PhoneNumber:</label><br />
    <input type="text" id="PhoneNumber" name="PhoneNumber" value="6305050027"><br />
    <label for="EmailAddress">EmailAddress:</label><br />
    <input type="text" id="EmailAddress" name="EmailAddress" value="imhemanth5@gmail.com"><br />
</body>
</html>